@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

:root {
  background-color: #fff;
}
