@use "@styles/breakpoints" as *;

.search-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}

.search-bar__logo-wrapper {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  flex: 1 1 20%;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;

  @include tablet {
    padding: 1rem 0;
  }
  @include desktop {
    flex: 1;
  }
}

.search-bar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 26px;
  max-height: 26px;
  & span {
    padding: 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

    @include tablet {
      font-size: 32px;
    }
  }
}

.mobile-menu {
  @include tablet {
    display: none;
  }
}

.logo {
  @include tablet {
    height: 32px;
  }
}

.search-input-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;

  @include tablet {
    flex: 1;
  }
  @include desktop {
    flex: 1 1 35%;
  }
}

.search-input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  padding: 0.75rem;
  font-size: 0.875rem;

  @include tablet {
    padding: 0.5rem 0.75rem;
  }
}

.search-input__categories-wrapper {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
  align-items: center;
  gap: 12px;
}

.search-input__categories {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 0.875rem;
}

.search-input__search-icon-wrapper {
  display: flex;
  height: 50%;
  width: 45px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-left: 1 solid #d9d9d9;
}
